@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: Nunito Sans,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #dfe6e9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0px 16px !important;
}